.container {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 1px;
    margin-right: 8vw;
    margin-top: 15vh;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.inner_div {
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
    margin: 15px 0px 0px 15px;
}